*, html
{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  background-color: #EEE5CE;
  background-image: url("../img/background.jpg");
}

h1, h2, h3 {
  color: #58180D;
  font-family:  Cinzel;
  padding-bottom: 0.1rem;
  margin-bottom: 0.25rem;
}

h1{
  font-size: clamp(2rem, 5vw, 2.5rem);
}

h2{
  border-bottom: 3px solid #C0AD6A;
  font-size: clamp(1.5rem, 5vw, 2rem); 
}

h3{
  font-size: clamp(1rem, 5vw, 1.5rem);
}

p{
  font-family: Lora;
  font-weight: 500;
  font-size: clamp(0.8rem, 5vw, 1rem);  
}

header {
  background-color: #C9AD6A;
  padding: 3rem 0rem 2rem 0rem;
  text-align: center;
}

nav {
  background-color: #e5d6a7;
  padding: 1rem;
  font-family: Fira Sans;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a:hover{ 
  color: #58180D; 
}

main{
  padding: 0rem 2rem;
}


a{
  text-decoration: none;
  color: #000;
} 


.section-main
{
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  animation: show 1.5s ease-in-out;
  margin: 5rem;
}

img{
  max-width: 70%;
}

.contenedor-texto{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

#sobre-mi img, #peliculas img{
  border-image-outset: 12px 0px;
  border-image-width: 15px;
  box-shadow: 0px 0px 5px 5px #8f8971;
  align-self: center;
  margin: 2rem;
  transition: all 0.5s;
}

#tarjetas article{
  display: flex;
  flex-direction: column;
  background-color: #d2e6c8;
  padding: 2rem;
  transition: all 0.5s;
}

#tarjetas img{
  align-self: center;
}

/* Pequeña animacion para las imagenes y las tarjetas de mis proyectos */
#tarjetas article:hover, #sobre-mi img:hover, #peliculas img:hover{
  box-shadow: 0px 0px 20px 5px #8f8971;
  transform: scale(0.9);
}

.habilidades-contenedor{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.habilidades-bloque{
  flex: 1;
}

table{
  box-sizing: border-box;
  width: 100%; 
  border-collapse: collapse;
}

table, th, td{
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

thead
{
  font-family: Fira sans;
  font-size: clamp(0.5rem, 5vw, 1.5rem);
  text-align: center;
}

tbody
{
  font-family: Lora;
  font-weight: 500;
}

/* Cambio el color de las filas impares de la tabla */
tbody tr:nth-child(odd)
{
  background-color: #d2e6c8;
}

td{
  padding: 1rem;
}

form{
  padding-top: 1rem ;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

input{
  font-size: clamp(0.7rem, 2vw, 1rem);
  padding: 0.6rem 0.6rem;
  border: none;
  outline: none;
  background: none;
  background-color: #fff;
  resize: none;
  font-family: Lora;
  margin-bottom: 1rem;
}

button{
  cursor: pointer;
  background-color: #BBAD82;
  font-size: 1.3rem;
  padding: 0.6rem;
  border: none;
}

button:hover{
    background-color: #d2e6c8;
}

.peliculas-contenedor article{
  display: flex;
  flex-direction: column;
  margin: 3rem 0rem;
}


footer{
  background-color: #BBAD82;
  text-align: center;
  padding: 4rem 4rem 8rem 4rem;
}

.ul-redes-sociales{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Lora;
  font-size: clamp(0.5rem, 5svw, 1rem);
}
  
.li-redes-sociales{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imagen-redes-sociales{
  max-width: 30%;
  height: auto;
  transition: all 0.5s;
}

.imagen-redes-sociales:hover{
  transform: scale(0.9);
}


/* Mediaqueries para pantallas mayores a 880 */
@media screen and (min-width: 880px){
  main{
    padding: 0rem 15rem;
  }
  
  img {
    max-width: 35%;
  }

  #tarjetas img{
    max-width: 50%;
  }

  .habilidades-contenedor{
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
  }

  form{
    width: 50%;
  }

  .imagen-redes-sociales{
    max-width: 20%;
  }
}