*, html
{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #58180D;
  font-family:  Cinzel;
  padding-bottom: 0.1em;
  margin-bottom: 0.25em;
}

h1{
  font-size: clamp(2em, 5vw, 2.5em);
}

h2{
  border-bottom: 3px solid #C0AD6A;
  font-size: clamp(1.5em, 5vw, 2em); 
}

h3{
  font-size: clamp(1em, 5vw, 1.5em);
}

p{
  font-family: Lora;
  font-weight: 500;
  font-size: clamp(0.8em, 5vw, 1em);  
}

body{
  background-color: #EEE5CE;
  background-image: url("../img/background.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
  padding: 0em 2em;
}

header {
  background-color: #C9AD6A;
  padding: 3em 0em 2em 0em;
  text-align: center;
}

nav {
  background-color: #e5d6a7;
  padding: 1em;
  font-family: Fira Sans;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  a{
    text-decoration: none;
    color: #000;
  } 
}

.section-main
{
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
  animation: show 1.5s ease-in-out;
  margin: 5em;
}

.contenedor-texto{
  margin-bottom: 3em;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

img{
  max-width: 70%;
}

#sobre-mi img, #peliculas img{
  border-image-outset: 12px 0px;
  border-image-width: 15px;
  box-shadow: 0px 0px 5px 5px #8f8971;
  align-self: center;
  margin: 2em;
  transition: all 0.5s;
}

#sobre-mi img:hover, #peliculas img:hover{
  box-shadow: 0px 0px 20px 5px #8f8971;
  transform: scale(0.9);
}

#tarjetas article{
  display: flex;
  flex-direction: column;
  margin: 3em 0em;
  background-color: #d2e6c8;
  padding: 2em;
  transition: all 0.5s;
}

#tarjetas article:hover{
  box-shadow: 0px 0px 20px 5px #8f8971;
  transform: scale(0.9);
}

.habilidades-contenedor{
  display: flex;
  flex-direction: column;
}

.habilidades-bloque{
  flex: 1;
}

table{
  box-sizing: border-box;
  width: 100%; 
  border-collapse: collapse;
  margin-bottom: 5em;
}

table, th, td{
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

thead
{
  font-family: Fira sans;
  font-size: clamp(0.5em, 5vw, 1.5em);
  text-align: center;
}

tbody
{
  font-family: Lora;
  font-weight: 500;
}

tbody tr:nth-child(odd)
{
    background-color: #d2e6c8;
}

td{
  height: 5em;
  width: 100%;
}

form{
  padding-top: 1em ;
  display: flex;
  flex-direction: column;
}

input{
    width: 100%;
    font-size: clamp(0.7em, 2vw, 1em);
    padding: 0.6em 0.6em;
    border: none;
    outline: none;
    background: none;
    background-color: #fff;
    resize: none;
    font-family: var(--fontForm);
    margin-bottom: 1em;
}

button{
    cursor: pointer;
    width: 100%;
    background-color: #BBAD82;
    font-size: 1.3em;
    padding: 0.6em;
    border: none;
}

button:hover{
    background-color: #d2e6c8;
}

.peliculas-contenedor article{
  display: flex;
  flex-direction: column;
  margin: 3em 0em;
}


footer{
  background-color: #BBAD82;
  text-align: center;
  padding: 4em 4em 8em 4em;
}

#section-redes-sociales{
  h3{
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: clamp(1em, 5svw, 1.5em);
  }

  a{
    text-decoration: none;
    color: #000;
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--fontFooter);
    font-size: clamp(0.5em, 5svw, 1em);
  }
  
  li{
      display: flex;
      flex-direction: column;
      gap: 1em;
  }

  img {
      max-width: 15%;
      height: auto;
  }
}

/* Mediaqueries */

@media screen and (min-width: 880px)
{
  main{
    padding: 0em 10em;
  }

  #tarjetas article{
    flex-direction: row;
    gap: 2em;
  }

  .habilidades-contenedor{
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3em;
  }
  
  img{
    max-width: 30%;
  }

  form{
    padding: 0em 15em;
  }

  .social-media-links-list img{
      max-width: 15%;
      height: auto;
  }
}

